a,
ins {
  text-decoration: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
hr,
menu,
nav,
section,
summary {
  display: block;
}
a,
hr {
  border: 0;
  padding: 0;
}
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 28px;
  vertical-align: baseline;
  background: 0 0;
}
ins,
mark {
  background-color: #ff9;
  color: #000;
}
body {
  line-height: 1;
}
:focus {
  outline: 0;
}
nav ul,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
a {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}
mark {
  font-style: italic;
  font-weight: 700;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  height: 1px;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}
input,
select {
  vertical-align: middle;
}
body,
button,
h1,
h2,
h3,
h4,
input {
  font-family: Arial, "Microsoft YaHei";
}
body * {
  max-height: 99999px;
}

.indexpage {
  background: #eee;
  padding: 40px 0;
}
.indexpage .jackma {
  width: 343px;
  height: 300px;
  background: #fff;
  border-radius: 20px;
  margin: 0 auto;
  padding-top: 20px;
  margin-top: 30px;
}
.indexpage .jackma .header_img {
  width: 150px;
  height: 150px;
  display: block;
  background-size: cover;
  margin: 0 auto;
  border-radius: 50%;
}
.indexpage .jackma h3 {
  font-size: 24px;
  color: #ffa040;
  text-align: center;
  margin-top: 30px;
}
.indexpage .jackma .balance {
  margin-top: 20px;
}
.indexpage .jackma .balance .balance_baby {
  width: 160px;
  height: 40px;
  background: #ff5722;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
}
.indexpage .jackma .balance .balance_baby_on {
  width: 160px;
  height: 40px;
  background: #999999;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
}
.indexpage .jackma .balance span {
  text-align: center;
  font-size: 14px;
  color: #666;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
.indexpage .mall {
  width: 350px;
  height: 50px;
  color: #ffffff;
  background: #ff5722;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
}
.indexpage .mall ul {
  display: flex;
  justify-content: space-around;
  line-height: 50px;
}
.indexpage .mall ul li {
  width: 80px;
  height: 44px;
  font-size: 18px;
  text-align: center;
}
.indexpage .mall ul li a {
  color: #ffffff;
}
.indexpage .mall ul .li_on {
  border-bottom: 1px solid #ffa040;
}
.indexpage .mall ul .li_on a {
  color: #ffffff;
}
.indexpage .auto_list {
  width: 350px;
  height: 300px;
  background: #ffffff;
  margin: 20px auto;
  border-radius: 5px;
}
.indexpage .auto_list img {
  width: 100%;
  height: 192px;
  border-radius: 5px 5px 0 0;
}
.indexpage .auto_list h3 {
  font-size: 24px;
  color: #000000;
  margin: 10px 0 0 15px;
}
.indexpage .auto_list h3 .price {
  font-size: 16px;
  color: #FF5000;
}
.indexpage .auto_list .add_button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.indexpage .auto_list .add_button .control {
  width: 100px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  color: #999999;
}
.indexpage .auto_list .add_button .increase {
  width: 90px;
  height: 30px;
  background: #ff5722;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  margin-right: 10px;
}

.navclass {
  width: 100%;
  height: 50px;
  background: #ff5722;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
.navclass h3 {
  margin-left: 20px;
  font-size: 18px;
  line-height: 50px;
  color: #fff;
}
.navclass button {
  margin-right: 20px;
  font-size: 16px;
  color: #fff;
}


/*# sourceMappingURL=styles.chunk.css.map*/